.img{
    width: 100%;
    height: 10rem;
    border-radius: 5px 

}
.img2{

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;

}
.img3{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    padding: 2px;
}
.img4{
    width: 90px;
    height: 20px;

 
}